.Show-Vaccines{
    display: block;
}

.Hide-Vaccines{
    display: none;
}

.Space-between-Table{
    padding-right: 3%;
}

.Patient-Container{
    background: #F2F2F2;
    width: 80%;
    margin: 0 auto;
    height: 100vh;
}

.vacStyle{
    min-width: 24%;
    margin-left: 10%;
}