body {
  font-family: "Barlow", sans-serif;
  background-image: url("./assets/bgImg.jpg");
}

.input {
  font-family: "FontAwesome";
  text-align: right;
  font-size: 20px;
  width: 280px;
  padding-right: 10px;
}
